name: elura_skincare_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.5.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^2.28.0  # Key: Use a version that provides PromiseJsImpl
  firebase_auth: ^4.19.0  # This version pairs with the core version above[citation:8]
  # Your other dependencies...
  http: ^1.1.0
  geolocator: ^9.0.2
  cupertino_icons: ^1.0.8
  google_fonts: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter



  # Remove or use older flutter_lints:
  flutter_lints: ^2.0.0      # Older version

  csv: ^6.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/data/product_info.csv
 

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
